
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBooking</title>
</head>
<body>
    <div>
        <h2>Thanks for your booking!</h2>
    </div>
    @Html.ActionLink("Back", "Index", "CarRental")
</body>
</html>
